* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: black;
}

#header {
  display: flex;
  width: 15%;
  height: 25vh;
  margin: 10px 20px;
  background-size: cover;
  background-position: center;
  background-image: url(../images/logo.png);
}

.header-container {
  display: flex;
  background-color: rgb(32, 32, 32);
  justify-content: space-between;
}

.container {
  padding: 10px 10px;
  display: inline;
}

.logo {
  width: 50px;
  display: inline-block;
  display: flex;
  justify-content: left;
  /* align-items: left; */
}

h1 {
  display: flex;
  color: aliceblue;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  color: white;
}

.navlist-item a {
  display: inline;
  text-decoration: none;
  color: white;
  font-size: larger;
  position: relative;
  margin: 20px 40px;
}
.nav-list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: end;
}

.navbar {
  width: 70%;
}

.navbar a:hover {
  color: darkred;
}

h2 {
  color: white;
}

.page-section {
  /* display: grid; */
  /* grid-template-columns: 25% 65%; */
  /* grid-template-columns: 1fr */
  background-color: rgb(43, 39, 39);
}
/* 
.work {
    width: 90%;
    height: 15vh;
    background-size: cover;
    background-position: end;
    
} */

.contact a {
  padding: 10px;
}

.jumbotron {
  background-color: black;
  background-image: url(../images/Profile-picture.jpg);
  background-repeat: no-repeat;
  margin: 10vh 20vh;
  padding: 35px;
}

.jumbo-intro {
  width: fit-content;
  margin-left: 35vh;
}

.card-text {
  color: black;
}

.card {
  display: flex;
}

.list-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: white;
}
.skill-item {
  list-style-type: disc;
}

.button-shadow:hover {
  box-shadow: 0 0 11px #ff0000b0;
}

.list-contact .contact-item {
  display: flex inline;
  flex-direction: row;
  justify-content: end;
}

/* 

@media screen and (max-with: 450px) {

    
} */
