* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
 body {
    background-color: black;
 }

 #header {
    width: 10%;
    height: 35vh;
    background-size: cover;
    background-position: end;
}


.container {
    padding: 10px 10%;
}
.logo {
    width: 120px;
    /* display: flex; */
    /* justify-content: left; */
    /* align-items: left; */


}

h1 {
    display: flex;
    color:aliceblue;
    font-style: italic ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.M {
    color: red;
}   

.C1 {
    color: blue;

}

.C2 {
    color: yellowgreen ;
}

.M, .C1, .C2 {
    font-size: larger;

}
p {
    color: white;
}

nav ul li {
    display: flex;
    /* justify-content: space-around; */
    /* align-content: center; */
    list-style: none;
    margin: 5px 10px ;
}

a{
    display: inline;
    color: azure;
    text-decoration: none;
    font-size: medium;
    position: relative;
    
}
ul {
    display: flex;
    justify-content: space-between
}

h2 {
    color: white;
}

.page-section {
    display: grid;
    grid-template-columns: 25% 65%;
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(43, 39, 39);



}
/* 
.work {
    width: 90%;
    height: 15vh;
    background-size: cover;
    background-position: end;
    
} */

.contact a{
    padding: 10px;
}