* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: black;
}

#header {
  display: flex;
  width: 10%;
  height: 25vh;
  margin: 10px 20px;
  background-size: cover;
  background-position: center;
  background-image: url(../images/logo.png);
}

.header-container {
  display: flex;
  background-color: rgb(32, 32, 32);
  justify-content: space-between;
}

.container {
  padding: 10px 10px;
  display: inline;
}

.logo {
  width: 50px;
  display: inline-block;
  display: flex;
  justify-content: left;
  /* align-items: left; */
}

h1 {
  display: flex;
  color: aliceblue;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-style: italic;
}
p {
  color: white;
  text-indent: 25px;
  text-align: justify;
  text-align: start;
}

.navlist-item a {
  display: inline;
  text-decoration: none;
  color: white;
  font-size: larger;
  position: relative;
  margin: 20px 40px;
}
.nav-list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: end;
}

.navbar {
  width: 70%;
}

.navbar a:hover {
  color: greenyellow;
  cursor: pointer;
}

.text-black {
  color: black;
  font-weight: bold;
  padding: 20px;
}

.text-align {
  padding: 20px;
}

h3 {
  color: black;
}

.jumbotron {
  background-color: black;
  background-image: url(../images/Profile-picture.jpg);
  background-repeat: no-repeat;
  width: 30%;
  height: 40vh;
  margin: 20px 10px 30px 20px;
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.jumbo-intro {
  width: 200%;
  margin-left: 65vh;
}

.page-section {
  display: grid;
  grid-template-columns: 60% 30%;
  background-color: rgb(187, 173, 173);
  margin: 15px 10px;
  gap: 15vh;
}

.p-about {
  text-align: justify;
  text-indent: 10vh;
  color: black;
  text-size-adjust: 20px;
}

/* -- THE CSS CODE BELOW WAS COPIED FROM (https://www.w3schools.com/html/html_forms.asp) FOR CONTACT FORM PURPOSE ONLY -- */

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 0px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 5px; /* Add a top margin */
  margin-bottom: 5px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: blue;
}

/* Add a background color and some padding around the form */
.container-w3s {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* -- THE CSS CODE ABOVE WAS COPIED FROM (https://www.w3schools.com/html/html_forms.asp) FOR CONTACT FORM PURPOSE ONLY-- */

.list-contact a {
  color: darkblue;
  display: flex;
}

.contact-item {
  list-style-type: square;
}

.work-container {
  display: flex;
  justify-content: space-evenly;
  /* margin: 10px; */
  /* padding: 30px; */
}

.card-text {
  color: black;
}

.card {
  display: flex;
}

.list-skills {
  background-image: url(../images/bootstrap-logo.png);
  width: 100%;
  height: 40vh;
  margin: 20px 10px 20px 20px;
  background-size: cover;
  background-position: center;
  padding: 10px;
}
.skill-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0vh 40vh;
  justify-content: center;
  margin: 0px 20;
}

.button-shadow:hover {
  box-shadow: 0 0 11px #bd0606ce;
}

.list-contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f2f2f2;
}

.contact-item {
  display: flex;
  margin: 10px 10px;
  padding: 10px;
  justify-content: center;
  list-style: none;
}

.contact-item a {
  color: rgb(24, 94, 11);
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  h1 {
    color: red;
  }

  h2 {
    background-color: pink;
  }
  .text-black {
    color: red;
  }
  .page-section {
    background-color: aquamarine;
  }
  .list-contact {
    background-color: pink;
  }
}

@media screen and (max-width: 900px) {
  .header-container {
    background-color: lightskyblue;
  }
  .card-body {
    background-color: rgb(247, 146, 14);
  }
  .navlist-item a {
    color: rgb(229, 20, 236);
  }
}
